

{% extends "base.html" %}

{% block title %}Ingresar Producto{% endblock %}

{% block page_content %}
<li><a href="/paneldeconsultas">Volver al Panel de Consultas</a></li> 
<div class="page-header">    
   
    <h1 style="color:tomato;">Ingresar Producto</h1>
	<form method="POST" action="/consultaproducto">
            <br>
            <br>
			{{ dato.csrf_token }}
			{{ dato.producto(placeholder="Ingrese Producto", size=20) }}
			
			<br><br><br>
			{{ dato.submit() }}
		</form>

{% endblock %}

