
{% extends "base.html" %}
{% block title %}Base de Datos{% endblock %}
{% block page_content %}
<div class="page-header">  
    <h1 style="color:tomato;" ALIGN=center id='titulo'>Panel de Consultas</h1>  
    <br><br><br>
    
    
   

<li ><a href="/consultacliente">Buscar Por Cliente</a></li> 
<br>
<li ><a href="/consultaproducto">Buscar Por Productos</a></li> 
<br>

<li ><a href="/productosmasvendidos">Productos Mas Vendidos</a></li> 
<br>
<li ><a href="/mejoresclientes">Mejores Clientes</a></li> 
<br>
<li ><a href="/basetotal">Informacion Completa</a></li>   






</div>
{% endblock %}


